        
    .stx-btn,
.stx-btn>span {
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.stx-btn {
        width: 1400;
    padding: 0 8px;
    border: solid 1px #ddd;
    font-weight: bold;
    line-height: 27px;
    color: #7e7e7e;
    text-align: center;
    position: relative;
    overflow: visible;
    background-repeat: no-repeat;
    transition: color .25s, border .25s, box-shadow .25s;
    -webkit-transition: color .25s, border .25s, box-shadow .25s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.stx-btn:hover {
    color: #444;
    border: solid 1px #c5c5c5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1), inset 0 -8px 6px rgba(100, 100, 100, .03);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1), inset 0 -8px 6px rgba(100, 100, 100, .03);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1), inset 0 -8px 6px rgba(100, 100, 100, .03)
}

.stx-btn:active {
    color: #333;
    -webkit-box-shadow: inset 0 8px 6px rgba(100, 100, 100, .03);
    -moz-box-shadow: inset 0 8px 6px rgba(100, 100, 100, .03);
    box-shadow: inset 0 8px 6px rgba(100, 100, 100, .03)
}

.stx-btn.stx-menu-btn {
    padding: 0 28px 0 10px
}
    
.stx-btn.stx-menu-btn>em {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 27px;
    height: 27px;
    width: 16px;
    background-image: url(img/stx-sprite.png);
    background-position: -302px -118px;
    border-left: 1px dotted #999;
    opacity: .4;
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    transition: opacity .25s, border .25s;
    -webkit-transition: opacity .25s, border .25s
}

.stx-btn.stx-menu-btn:hover>em {
    border-left: 1px dotted #ccc;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}.stx-btn.stx-menu-btn>em

.stx-btn.stx-ico,
.stx-btn.stx-ico:hover,
.stx-btn.stx-ico>span .stx-btn.stx-ico:hover>span,
.stx-btn.stx-ico:active>span {
    overflow: hidden;
    padding: 0!important;
    line-height: 0;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.stx-btn.stx-ico {
    width: 27px;
    height: 27px;
    padding: 0
}

.stx-btn.stx-ico>span,
.stx-btn.stx-ico:hover>span,
.stx-btn.stx-ico:active>span {
    background-color: #999;
    background-image: url(/scripts/bittrex2/vendor/chartiq/img/stx-sprite.png);
    background-repeat: no-repeat;
    background-color: rgba(153, 153, 153, .2);
    border: 1px solid transparent;
    width: 17px;
    height: 17px;
    text-indent: 2000px;
    padding: 0;
    margin: 4px;
    transition: color .25s, border .25s, background-color .25s, box-shadow .25s;
    -webkit-transition: color .25s, border .25s, background-color .25s, box-shadow .25s;
    opacity: .7
}

.stx-btn.stx-ico:hover>span {
    background-color: #666;
    background-color: rgba(153, 153, 153, .3);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1), inset 0 -8px 6px rgba(100, 100, 100, .03);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1), inset 0 -8px 6px rgba(100, 100, 100, .03);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1), inset 0 -8px 6px rgba(100, 100, 100, .03);
    opacity: 1
}

.stx-btn.stx-ico:active>span {
    background-color: #666;
    background-color: rgba(153, 153, 153, .9);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.stx-btn>span.stx-ico-close,
.stx-btn>span.stx-ico-close:active {
    background-position: -160px -40px
}

.stx-dialog .stx-btn.stx-ico>span.stx-ico-close,
.menuSelect .stx-btn.stx-ico>span.stx-ico-close {
    background-image: url(/scripts/bittrex2/vendor/chartiq/img/stx-sprite.png);
    background-color: #fff;
    background-position: -160px -40px;
    border-color: #ddd
}

.stx-dialog .stx-btn.stx-ico.stx-ico:hover>span.stx-ico-close,
.menuSelect .stx-btn.stx-ico:hover>span.stx-ico-close {
    border-color: #ccc
}

.stx-dialog .stx-btn.stx-ico.stx-ico:active>span.stx-ico-close,
.menuSelect .stx-btn.stx-ico:active>span.stx-ico-close {
    border-color: #ccc;
    -webkit-box-shadow: inset 0 8px 6px rgba(100, 100, 100, .03);
    -moz-box-shadow: inset 0 8px 6px rgba(100, 100, 100, .03);
    box-shadow: inset 0 8px 6px rgba(100, 100, 100, .03)
}

.stx-remove-study,
.stx-edit-study {
    background-image: url(../img/stx-sprite.png);
    border-color: #ddd;
    float: right;
    width: 15px;
    height: 15px;
    display: none
}

.stx-remove-study {
    background-position: -160px -40px
}

.stx-edit-study {
    background-position: -200px -40px
}

.stx-color,
.stx-border-color {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .6);
    cursor: pointer
}

.stx-color span,
.stx-border-color span {
    display: none
}

.stx-color {
    background-color: #000
}

.stxColorDarkChart {
    background-color: #fff
}

.stx-wrapper {
    display: inline-block;
    width: 840px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px
}    
    
.stx-nav {
    height: 50px
}

.stx-toolbar {
    height: 36px;
    padding: 9px 0 0 0
}

.stx-nav {
    position: relative;
    border: solid 1px;
    background: #5b656b;
    background: -webkit-gradient(linear, left top, left bottom, from(#5b656b), to(#424b50));
    background: -moz-linear-gradient(top, #5b656b, #424b50);
    background: -o-linear-gradient(top, #5b656b, #424b50)
}

.stx-nav .stx-search,
.stx-nav .stx-menus {
    display: inline-block;
    margin: 0;
    padding: 0
}

.stx-nav .stx-menus {
    float: right;
    margin-right: 10px;
    
}

.stx-nav .stx-search,
.stx-nav #periodBtn,
.stx-nav .stx-menus {
    margin-top: 10px
}

.stx-nav .stx-btn.stx-menu-btn,
.stx-nav .stx-nav-ico {
    border-color: rgba(153, 153, 153, .4);
    color: #efefef
}

.stx-nav .stx-btn.stx-menu-btn:hover,
.stx-nav .stx-nav-ico:hover {
    border-color: rgba(153, 153, 153, .8);
    color: #fff
}

.stx-nav .stx-btn.stx-menu-btn:active {
    color: #fff
}

.stx-nav .stx-btn.stx-menu-btn>em {
    border-left: 1px dotted rgba(153, 153, 153, .5);
    opacity: 1;
    filter: none;
    -ms-filter: none
}

.stx-nav .stx-btn.stx-menu-btn:hover>em {
    border-left: 1px dotted rgba(153, 153, 153, .8)
}

.stx-nav .stx-search {
    margin-left: 15px;
    position: relative
}

input#symbol {
    text-transform: uppercase;
    border-right: none;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px
}

.stx-nav .stx-btn {
    margin: 0 6px 0 0
}

.stx-nav .stx-btn.stx-menu-btn {
    width: 100px
}

.stx-nav .stx-btn.stx-menu-btn#periodBtn {
    width: auto;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.stx-nav .stx-btn.stx-menu-btn#cogBtn {
    background-image: url(/scripts/bittrex2/vendor/chartiq/img/stx-sprite.png);
    width: 27px;
    padding: 0 20px 0 0;
    background-position: -35px -118px
}

.menuOutline {
    position: absolute;
    top: 31px;
    right: 0;
    width: 126px;
    background: #fff;
    font-weight: normal;
    border: solid 1px #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    z-index: 100
}

.menuSelect>li,
.menuSelect>ul>li {
    padding: 2px 16px;
    line-height: 27px;
    margin: 0;
    text-align: left;
    cursor: pointer;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color .25s, background-color .25s;
    -webkit-transition: color .25s, background-color .25s
}

.menuSelect>li:first-child,
.menuSelect>ul>li:first-child {
    padding: 5px 16px 2px 16px
}

.menuSelect>li:last-child,
.menuSelect>ul>li:last-child {
    padding: 2px 16px 5px 16px
}

.menuSelect>li:hover,
.menuSelect>ul>li:hover {
    background: #efefef
}

li.stx-menu-divider,
.menuSelect li.stx-menu-content,
.menuSelect li.stx-heading,
li.stxLookupFilter,
li.stx-menu-divider:hover,
.menuSelect li.stx-menu-content:hover,
.menuSelect li.stx-heading:hover,
li.stxLookupFilter:hover {
    background: transparent;
    cursor: default;
    white-space: normal
}

li.stx-menu-divider,
li.stx-menu-divider:hover,
.menuSelect li.stx-menu-divider,
.menuSelect li.stx-menu-divider:hover {
    height: 1px;
    padding: 0;
    background: #ccc!important
}

.menuSelect li.stx-menu-content {
    padding: 10px 16px 16px 16px
}

.menuSelect li.stx-menu-content:first-child {
    padding: 16px 16px 16px 16px
}

.menuSelect li.stx-heading,
.menuSelect li.stx-heading:first-child,
li.stxLookupFilter {
    padding: 10px 1px 5px 16px;
    font-size: 10px;
    text-transform: uppercase;
    line-height: normal;
    color: #999;
    font-weight: bold
}

.menuSelect li.stx-heading,
.menuSelect li.stx-heading:first-child {
    padding: 10px 16px 5px 16px
}

.menuSelect li.stx-option {
    position: relative;
    padding-left: 35px
}

.menuSelect li.stx-option .stx-checkbox,
.menuSelect li.stx-option .stx-checkbox.false {
    position: absolute;
    left: 14px;
    top: 8px;
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    text-indent: -1000px;
    overflow: hidden;
    background-image: url(/scripts/bittrex2/vendor/chartiq/img/stx-sprite.png);
    background-position: -142px -122px
}

.menuSelect li.stx-option .stx-checkbox.true {
    background-position: -182px -122px
}

.menuSelect ul.col {
    float: left;
    cursor: default;
    width: 201px;
    border-top: none;
    border-right: 1px solid #efefef
}

.menuSelect ul.col:last-child {
    border-right: none
}

.menuSelect ul.col li {
    padding: 2px 16px 2px 16px
}

.menuSelect ul.col li:first-child {
    padding: 5px 16px 2px 16px
}

.menuSelect ul.col li:last-child {
    padding: 2px 16px 5px 16px
}

.menuSelect .stx-btn {
    font-size: 11px;
    margin: 0
}

.injected .stx-btn {
    float: right;
    margin: 0
}

.injected li {
    clear: both;
    border-top: 1px dotted #ccc
}

.injected li.stx-menu-content:last-child {
    padding-top: 5px
}

.injected a.stxItem {
    color: #666;
    display: inline-block;
    width: 110px;
    float: left;
    line-height: 29px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: none
}

.injected a.stxItem:hover {
    color: #333;
    border-bottom: none
}

.stxLookupResults {
    right: auto;
    left: 0;
    width: 400px
}

.stxLookupResults ul,
.stxLookupResults li {
    overflow: hidden
}

.stxLookupResults li.divider {
    border-top: solid 1px #efefef
}

.stxResults {
    right: auto;
    left: 0;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2)
}

.stxResults li {
    font-size: 11px;
    line-height: 0;
    clear: both
}

.stxResults li.stxLookupFilter {}

.stxResults li.stxLookupFilter .stx-btn {
    padding: 0;
    line-height: 18px;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    border-color: #efefef;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis
}

.stxResults li.stxLookupFilter .stx-btn:hover {
    border-color: #ccc;
    color: #666
}

.stxResults li.stxLookupFilter .stx-btn:first-child {
    width: 35px
}

.stxResults li.stxLookupFilter .stx-btn.on,
.stxResults li.stxLookupFilter .stx-btn.on:hover {
    background: #999;
    color: #fff;
    border-color: #999;
    text-shadow: 0 1px 0 #666;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    cursor: default
}

.stxResults span {
    line-height: 27px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.stxLookupSymbols li span:nth-of-type(1) {
    color: #333;
    font-weight: bold;
    min-width: 55px;
    float: left;
    padding-right: 10px
}

.stxLookupSymbols li span:nth-of-type(2) {
    width: 200px;
    float: left
}

.stxLookupSymbols li span:nth-of-type(3) {
    color: #333;
    font-size: 10px;
    min-width: 40px;
    float: right;
    text-align: right
}

.menuSelect.periodicity {
    right: auto;
    left: 0
}

.menuSelect.studies {
    width: 404px;
    overflow: hidden
}

.stx-basic .menuSelect.studies {
    width: 118px
}

.menuSelect.studies>ul>li {
    line-height: 24px
}

.menuSelect.cog {
    width: 180px
}

.menuSelect.cog .stx-btn.theme {
    display: block;
    float: none;
    clear: both
}

.menuSelect.cog li.stx-menu-content {
    padding: 0
}

.menuSelect.cog .injected li.stx-heading {
    border-top: none;
    padding-bottom: 10px
}

.menuSelect.cog li.stx-menu-content:last-child {
    padding: 10px 16px 16px
}

.menuSelect.cog li.themeSelectorTemplate {
    margin: 0 16px
}

.stxBodyOverlay,
.stxDialogOverlay {
    position: absolute;
    width: 99%;
    height: 100%;
    top: 0;
    overflow: hidden;
    display: none;
    background: rgba(255, 255, 255, 0)
}

.stxDialogOverlay {
    background: rgba(24, 27, 28, .7)
}

.stxDialogOverlay {
    z-index: 200
}

.stx-dialog-container {
    z-index: 201
}

.stxBodyOverlay {
    z-index: 202
}

.ciqColorPicker {
    z-index: 205
}
